/* nav bar style starts */
.text-dark a{
    color:#001D2E;
}
.active{
    color:#F04444!important;
    border-bottom: 1px solid #F04444;
}
.active a:hover{
    color:#F04444!important;
    border-bottom: 1px solid #F04444;
    
}
/* nav bar style ends */
/* banner section starts */
    /* .banner{
        background-image: url('../img/top.png');
        background-size: cover;
    } */

    .img-size{
        height:600px;
        width: 100%;

    }
    .font-roboto{
        font-family: 'Roboto' ;
    }
    .heading-1{
        font-size: 25px;
        font-weight: bolder;
    }
    .heading-2{
        font-size: 60px;
        font-weight: bolder;
    }
    .heading-3{
        font-size:40px;
    }
    .text-red{
        color:#F04444;
    }
    .bg-red{
      background-color: #F04444;
    }
    .border-red{
        border:1px solid #F04444;
    }
/* banner section ends */

/* vision and mission section starts  */
    .centered span{
        font-size:80px;
    }
    .bg-green{
        background-color: #026159;
    }
    .centered {
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
      }


/* vision and mission section ends */

/*--------- Media query starts ---------*/

@media (max-width:680px){
/* banner media query starts */
    .logo img{
        width:200px;

    }
    .active a:hover{
        color:red!important;
        
    }
    .img-size{
        height:250px;
    
    
    }
    .heading-1{
        font-size: 15px;
    }
    .heading-2{
        font-size: 20px;
    }
/* banner media query ends */
}


@media (min-width:768px) and (max-width:1024px) {
/* banner media query starts */
    .img-size{
        height:300px;
    
    
    }
    .heading-1{
        font-size: 20px;
    }
    .heading-2{
        font-size: 40px;
    }
/* banner media query ends */
/* vision and mission starts */
    .title-custom{
        position: relative;
        top:-200px;
    }
    .title-custom span{
        font-size:60px;
    }
   
/* vision and mission ends */
    } 



/*--------- Media query ends ---------*/