*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto' ;
} 
$grey: #8A8A8A;

/* banner section starts */
    /* .banner{
        background-image: url('../img/top.png');
        background-size: cover;
    } */
    .gal-banner-left{
        .img-size{
            height:800px;
            width: 100%;
            margin-left: -15px;
        }
    }    
    @media screen and (max-width:1024px) {
        .gal-banner-left{
            .img-size{
                height: auto;
            }
        }
    }   
    @media screen and (max-width:766px) {
     .gal-banner{
         text-align: center;
     }  
     .gal-banner-left{
         position: absolute;
         opacity: 0.2;
         top:0;
         left: 0;
         z-index: 1;
         .img-size{
            height:auto;
            width: 100%;
            margin-left: -15px;
        }

     }     
    }
    .heading-1{
        font-size: 24px;
        font-weight: 500;
        color:#1A7976;
        margin-bottom: 0px;
    }   
    .heading-2{
        font-size: 55px;
        font-weight: 700;
        color:#F04444;
        .heading-top{
            margin-top:-20px ;
            color:black;
        }
        @media screen and (max-width:680px){
            .heading-top{
                margin-top:-10px ;
                color:black;
            }
        }
        /* @media screen and (max-width:1024px){
            .heading-top{
                margin-top:0px;
                color:black;
                }

         }*/
    
}
/* banner section ends */
/* welcome section starts */
.welcome-img{
    margin-top: -500px;
    clip-path: polygon(0 42%, 100% 22%, 100% 100%, 0% 100%);
    background-image: url('../img/welcome.jpg');
    background-size: cover;
    .welcome-img-gradient{
        background-image: linear-gradient(265.85deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }
    .welcome-height{
        padding-top: 400px;
        z-index:-1;
        a.btn{
            padding: 12px 36px !important;
        }
    }
    @media screen and (max-width:1024px){
        margin-top: -10px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        .welcome-height{
            padding: 25px 0px;
            z-index:-1;
        }
       text-align: center;

    }
}
    .heading-3{
        font-size:40px;
        line-height: 44px;
        font-weight: 500;
    }
    .heading-4{
        font-size:26px;
        line-height: 53px;
        font-weight: 500;
    }
    @media screen and(max-width:768px){
        .heading-3{
            font-size:25px;
            font-weight: 500px;
            br{
                display:none;
            }
        } 
        .heading-4{
            font-size:15.6px;
            line-height: 31.8px;
            font-weight: 500;
        }
    }
    .text-red{
        color:#F04444;
    }
    .bg-red{
      background-color: #F04444;
    }
    .btn-red{
        border:1px solid #F04444;
        color:#F04444;
       
    }
    .btn-red:hover{
        color:#F04444;
        background-color: none!important;
        
    }


/* welcome section ends */

/* vision and mission section starts  */
.flight-img{
    background: url('../img/iocn8.png') no-repeat center center;
    background-size: cover;
    height: 425px;
    @media screen and (max-width:680px){
        height: 350px;  
    }
}
    .centered{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
         span{
        font-size:140px;
    }
    h2{
        font-size: 30px;
        margin-top:-40px;
        margin-left: -30px;
    }
    @media screen and (max-width:830px) {
        span{
            font-size: 100px;
        }
        h2{
            font-size: 20px;
            margin-top:-10px;
            margin-left: -10px;
        }
    }
    
    @media screen and (max-width:760px) {
        span{
            font-size: 70px;
        }
        h2{
            font-size: 25px;
            margin-top:-10px;
            margin-left: -10px;
        }
    }

}
    .bg-green{
        background-color: #026159;
    }
    .bg-grey{
        background-repeat: no-repeat;
        img{
            transform: rotate(20deg);
        }
    }
/*vision and mission section ends*/

    /*our promise section starts*/ 
    /*.login-or {
        position: relative;
        font-size: 18px;
        color: #aaa;
        margin-top: 10px;
                margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .span-or {
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color: #fff;
        width: 50px;
        text-align: center;
      }
      .span-or-grey{
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color :#F6F6F6;
        width: 50px;
        text-align: center;

      }
      .hr-or {
        background-color: #cdcdcd;
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }*/
      .dotted-line {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px dotted #303030;
        line-height: 0.1em;
        margin: 10px 0 20px; 
     } 
     
     .dotted-line span { 
        background-color :white;
         padding:0 10px; 
         position:relative;
         top:11px;
     }
     .dashed-line {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px dashed #000; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
     } 
     
     .dashed-line span { 
        background-color :#F6F6F6;
         padding:0 10px; 
         position:relative;
         top:11px;
     }

    .custom-list {
        list-style: none;
        padding-left: 0;
    
     li {
        position: relative;
        padding-left: 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 39px;
    }
     li:before {
        content: '';
        width: 4px;
        height: 14px;
        position: absolute;
        background-image: url('../img/colon.svg');
        background-size: cover;
        background-position: center;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
         @media screen and (max-width:768px){
            li {
                
                font-weight: 400;
                line-height: 25px;
            }

    }
 }
         .custom-list-content{
             font-size: 16px;
             font-weight: 400;
             color:#303030;
             line-height: 26px;
             text-align: left;
         }
  
        .custom-list-content ul.custom-list{
            li{
            line-height: 18px;
            margin-bottom: 15px;
            }
         }

      /*our promise section ends*/ 
     /* freight and logistics section starts */
      .freight-logistics{
        background: url(../img/top-left.svg) no-repeat top left #F6F6F6;
        margin-top: -10px;
        
      }
      @media (max-width: 768px){
        .freight-logistics{
            background:  #F6F6F6;
        }
      }
       .card-top{
           margin-top: -80px;
           overflow-x: hidden;
         .card{
                margin: 0px 15px;
                &:hover{
                    border-bottom:3px solid #717171;
                    a{
                        color:#F04444;
                        
                    }
                }
                a{
                    text-decoration: none;
                    color:#333333;
                    font-weight: 700;

                }
                .card-text{
                    font-size:14px;
                    font-weight: 400;
                }
            }
            .card-flex{
                display:flex;
                margin-left: -15px;
                margin-left: -15px;
            }
            .card-wrapper{margin: 0 auto;
                display: flex;
                max-width: 860px;
            }
        @media screen and (max-width:768px){
             margin-top: 0px;

             .card-wrapper{margin: 0 auto;
                display:block;
                max-width: 860px;
            }
     
        }

       }
        
 /* freight and logistics section ends*/
  /* ready to get started section starts*/
  .gal-start{
      background-color: #E3E3E3;
      clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    .btn-green{
        background-color: #00B2A3;
    }
    @media screen and (max-width:768px){
        .btn-green{
            border-radius: 6px;
                width: 123px;
                font-size: 18px;
                font-weight: 700;
        }

    }
    

  }
  

   /* ready to get started section ends*/
 

/* footer section starts */
    .footer-image{
    background-image: url('../img/footer.png');
    background-size: cover;
}
    .bg-gradient{
        background-color: rgba(0,0,0,0.8);
        }
   .footer-font{
        font-size: 24px;
        font-weight: 400;
    }
    .footer-button{ 
        button{
            background-color: #DE1B25;

        }
    }
    @media screen and (max-width:576px){
        .footer-font{
                font-size:10px;
                font-weight:400;   
        }
        .footer-button{
            button{
                border-radius: 1.54px;
                width: 123px;
                height: 32px;
                font-size: 10.8px;
                font-weight: 700;
            }
       
        }
    }
 .gal-country{
        div{
        border: 1px solid #808080;
        border-radius: 28px;
        font-size: 12.8px;
        }
        a{
            color:white;
            text-decoration: none;
        }
        .gal-country-list{
            padding:10px 50px;
            text-align:center;
            margin:5px;
            display:flex;
            align-items: center;
            p{
                margin-bottom: 0px;
                white-space:nowrap;
            }
        }
 }

        @media screen and (max-width:768px) {
           .gal-country{
                div{
                font-size: 13px;
        
                }
            .gal-country-list{
                padding:10px 20px!important;
                margin:10px;

            }
            
        }
    }

    @media screen and (max-width:680px) {
        
        .gal-country{
            div{
                border-radius: 17.92px;
                font-size: 7px;
        
                }
         .gal-country-list{
            padding:5px 10px!important;
            margin:6px;

         }
         
     }
 }
    @media screen and (max-width:576px) {
        .gal-country{
         .gal-country-list{
             padding:5px 10px!important;
             margin:4px;

         }
         
     }
 }
     @media screen and (max-width:1024px){
            .gal-country-list{
                padding:10px 20px!important;
                text-align:center;
                margin:6px;
                display:flex;
                align-items: center;
            }

        }
//galaxy footer starts
 .bg-footer{
     background-color: #1C1C1C;
     span{
         font-size:24px ;
         color: #8A8A8A;
         padding: 0px 15px !important;
     }
     @media screen and (max-width:460px){
        span{
           padding: 0px 4px !important; 
        }

    }
  
    .gal-services{
        flex-wrap: wrap;
        margin-top: 20px;
        div{
        border-radius: 28px;
        box-shadow:0px 3px 1px rgb(34,85,99);
        margin-bottom: 10px;
        padding-bottom: 5px;
            a{
                font-size: 15px;
                text-decoration: none;
                color: #8A8A8A;
            }
        }
    }
        @media screen and (max-width:768px) {
                span{
                    font-size:12px;
                }
                /*.gal-services{
                    div{margin-bottom: 15px;}
                }*/
            }
    .gradient-line{
        background-image: linear-gradient(90deg, #1C1C1C 0%, #A1A1A1 52.42%, #1C1C1C 100%);
        opacity: 0.5280691964285714;
    }
    p{
        color:#8C8C8C;
        font-size: 14px;
        font-weight: 700;
    }
}
//galaxy footer ends
/*  footer section ends */
/* vision and mission section ends */

/*--------- Media query starts ---------*/

@media (max-width:680px){
/* banner media query starts */

    .active a:hover{
        color:red!important;
        
    }
    .heading-1{
        font-size: 13.27px;
        font-weight: 700;
    }
    .heading-2{
        font-size: 30.97px;
    }
/* banner media query ends */
}


@media (min-width:768px) and (max-width:1024px) {
/* banner media query starts */
    .img-size{
        height:500px;
    
    
    }
    .heading-1{
        font-size: 20px;
    }
    .heading-2{
        font-size: 40px;
    }

    
/* banner media query ends */
/* vision and mission starts */
 /*   .title-custom{
        position: relative;
        top:-200px;
    }
    .title-custom span{
        font-size:60px;
    }*/
   
/* vision and mission ends */
    } 



/*--------- Media query ends ---------*/

.gal-branch{
    div:not(:last-of-type){
        span{
            border-right: 1px solid $grey;
        }
    }
}
@media (min-width: 991px){
    .gal-start .btn-green{
        width: 90%;
    }
}

.bg-shade-br{
    background: url(../img/bottom-right.svg) no-repeat right bottom #F6F6F6;
}
.bg-shadow-trb{
    background: url(../img/bottom-left.svg) no-repeat bottom left, url(../img/top-right.svg) no-repeat top right, url(../img/top-left.svg) no-repeat top left;
    margin-top: -10px;
    overflow-x: hidden;
}

@media screen and (max-width:768px){
    .bg-shade-br{
        background: #F6F6F6;
    }
    .bg-shadow-trb{
        background: none;
    }
}

.client-list{
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    img{
        max-width: 90%;
    }
}
.top-btn{
    width: 50px;
    height: 58px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background: url(../img/top.svg) no-repeat center center;
    display: none;
    transition: all 0.3s ease-in;
}
.top-btn:hover{
    bottom: 36px;
}
@media screen and (max-width:768px){
    .top-btn{
        display: none !important;
    }
}
/*common style for buttons starts*/
    .btn-outline-red{
        &:hover{
            background-color: #F04444!important;
            color:white!important;
            border:1px solid grey!important;
        }

    }
    .btn-outline-white{
        &:hover{
            background-color:#fff!important;
            color:#F04444!important;
            border:1px solid grey!important;
        }

    }
/*common style for buttons ends*/
/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

  .navbar{
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    background-color: white;
    .logo{
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
  }
.navbar.fixed-top{
    .logo{padding-top: 0px; padding-bottom: 0px;}
    .logo img{
        transform: scale(0.7);
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

/*-----------index style ends-----------------*/
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto' ;
} 
$grey: #8A8A8A;
/*button hover style   */

/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

  /*.navbar{
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    .logo{
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
  }*/
/* button hover style ends */
/*---------------image hover style -------------*/
.hover14{
	position: relative;
}
.hover14::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14:hover::before {
	-webkit-animation: shine 1.75s;
	animation: shine 1.75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/*---------------image hover style  ends-------------*/
//--------------nav bar styles starts------------------

//sticky header sestion
/*.navbar.fixed-top{
    .logo{padding-top: 0px; padding-bottom: 0px;}
    .logo img{
        transform: scale(0.7);
        padding-top: 0px;
        padding-bottom: 0px;
    }
}*/
//sticky header section
//nav bar style ends

/*  new nav section starts  */
.menu-section{
    .sub-menu{
        display: none;
      }
      .main-menu:hover .sub-menu
        {
           display:block;
           position: absolute;
           margin-left:-30px;
           background-color: white;
           li a{
            color:black;
            font-weight: 500;
            border:none;
            &:hover{
                 border-bottom: 2px solid #F04444;
    
              }
            }
        }
        .active{
            a{
            color:#F04444!important;
            border-bottom: 2px solid #F04444;
            }
        }
        li{
           
            font-size: 16px;
            font-weight: 500;
            a{
                color:black!important;
            }
                &:hover > a{
                    color:#F04444!important;
                    border-bottom: 2px solid #F04444;
                }
          }
        .logo{
            max-width: 70%;
        }
    }
   
  @media screen and (max-width:768px){
    .main-menu:hover .sub-menu
    {
       position: relative;
       left:35px;
       
       
  }
  .active a{
        color:#F04444;
        border-bottom: none;
    }
    li:hover > a{
      color:#F04444!important;
        border-bottom:none;
    }
 }
 @media screen and (max-width:1324px){
     .nav-item{
         margin:35px!important;
     }
 }
 @media screen and (max-width:1242px){
    .nav-item{
        margin:30px!important;
    }
}
@media screen and (max-width:1192px){
    .nav-item{
        margin:25px!important;
    }
}
@media screen and (max-width:1142px){
    .nav-item{
        margin:20px!important;
    }
}
@media screen and (max-width:1093px){
    .nav-item{
        margin:15px!important;
    }
}

//sticky header sestion
.navbar.fixed-top{
    .logo{padding-top: 0px; padding-bottom: 0px;}
    .logo img{
        transform: scale(0.7);
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
//sticky header section
/* new nev section ends    */

/*     galaxy footer starts  */
.client-list{
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    img{
        max-width: 90%;
    }
}
.footer-image{
    background-image: url('../img/footer.png');
    background-size: cover;
}
    .bg-gradient{
        background-color: rgba(0,0,0,0.8);
        }
   .footer-font{
        font-size: 24px;
        font-weight: 400;
    }
    .footer-button{ 
        button{
            background-color: #DE1B25;

        }
    }
    @media screen and (max-width:576px){
        .footer-font{
                font-size:10px;
                font-weight:400;   
        }
        .footer-button{
            button{
                border-radius: 1.54px;
                width: 123px;
                height: 32px;
                font-size: 10.8px;
                font-weight: 700;
            }
       
        }
    }
 .gal-country{
        div{
        border: 1px solid #808080;
        border-radius: 28px;
        font-size: 12.8px;
        }
        a{
            color:white;
            text-decoration: none;
        }
        .gal-country-list{
            padding:10px 50px;
            text-align:center;
            margin:5px;
            display:flex;
            align-items: center;
            p{
                margin-bottom: 0px;
                white-space:nowrap;
            }
        }
 }

        @media screen and (max-width:768px) {
           .gal-country{
                div{
                font-size: 13px;
        
                }
            .gal-country-list{
                padding:10px 20px!important;
                margin:10px;

            }
            
        }
    }

    @media screen and (max-width:680px) {
        
        .gal-country{
            div{
                border-radius: 17.92px;
                font-size: 7px;
        
                }
         .gal-country-list{
            padding:5px 10px!important;
            margin:6px;

         }
         
     }
 }
    @media screen and (max-width:576px) {
        .gal-country{
         .gal-country-list{
             padding:5px 10px!important;
             margin:4px;

         }
         
     }
 }

 @media screen and (max-width:350px) {
    .gal-country{
        flex-wrap: wrap;
     .gal-country-list{
        flex-wrap: wrap;

     }
     
 }
}
     @media screen and (max-width:1024px){
            .gal-country-list{
                padding:10px 20px!important;
                text-align:center;
                margin:6px;
                display:flex;
                align-items: center;
            }

        }

.bg-footer{
    background-color: #1C1C1C;
    span{
        font-size:24px ;
        color: #8A8A8A;
        padding: 0px 15px !important;
    }
    @media screen and (max-width:460px){
       span{
          padding: 0px 4px !important; 
       }

   }
.gal-branch{
    div:not(:last-of-type){
        span{
            border-right: 1px solid $grey;
        }
    }
}
@media (min-width: 991px){
    .gal-start .btn-green{
        width: 90%;
    }
}

 
   .gal-services{
       flex-wrap: wrap;
       margin-top: 20px;
       div{
       border-radius: 28px;
       box-shadow:0px 3px 1px rgb(34,85,99);
       margin-bottom: 10px;
       padding-bottom: 5px;
           a{
               font-size: 15px;
               text-decoration: none;
               color: #8A8A8A;
           }
       }
   }
       @media screen and (max-width:768px) {
               span{
                   font-size:12px;
               }
               /*.gal-services{
                   div{margin-bottom: 15px;}
               }*/
           }
   .gradient-line{
       background-image: linear-gradient(90deg, #1C1C1C 0%, #A1A1A1 52.42%, #1C1C1C 100%);
       opacity: 0.5280691964285714;
   }
   p{
       color:#8C8C8C;
       font-size: 14px;
       font-weight: 700;
   }
}
.top-btn{
    width: 50px;
    height: 58px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background: url(../img/top.svg) no-repeat center center;
    display: none;
    transition: all 0.3s ease-in;
}
.top-btn:hover{
    bottom: 36px;
}
@media screen and (max-width:768px){
    .top-btn{
        display: none !important;
    }
}
/*        galaxy footer ends        */


/* ------------------------ ----associates page starts--------------------------------------*/
/*  associates banner section starts */
.as-banner{
    background-image: url('../img/banner.jpg');
    background-size: cover;
   
    .as-gradient{
        height:281px;
        background-color: rgba(0,0,0,0.6);
    }
    .as-banner-heading{
        position: relative;
       top: 100px;
    }
    a{
        text-decoration: none;
    }
    h1{
        font-size:50px;
        font-weight: 500;
        
    }
    h5{
        font-size:20px;
        font-weight: lighter;
    }
    @media screen and (max-width:768px){
        .as-gradient{
            height:112px;
        }
        .as-banner-heading{
            position: relative;
            top: 45px;
        }
        h1{
            font-size:22px;
            font-weight: 700;
        }
        h5{
            font-size:14px;
            font-weight: lighter;
        }
    }
}
/*  associates banner section ends */
/*  associates content section starts */
.as-content-bg{
    background-image: url('../img/associates-bg.png');
    background-repeat: no-repeat;
    background-position: -30px top;
    background-size: 445px auto;
    @media screen and (max-width:768px){
        background-image: none;
    }
}
.as-associates{
    h2{
        font-size: 30px;
        font-weight:700px; 
        color:#5B5B5B;
    }
    p{
        font-size: 18px;
        font-weight:400px;
        color:#5B5B5B;
    }
}
 .as-img-border{
        div{
            border: 1px solid #E4E4E4;
            padding:20px;
            &:hover{
                border:1px solid #41608D;
            }
        }
    }
/*  associates content section ends */
/*  courier partner section starts*/
.as-courier-partners{
    .as-img-border{
        border: 1px solid #E4E4E4;
        padding:20px;
        &:hover{
            border:1px solid #41608D;
        }
    }
    h2{
        color: #37354C;
        font-size: 30px;
        font-weight:700px;
    }
    @media screen and (max-width:768px){
        h2{
            font-size: 28px;
        }
       
    }
}
/*  courier partner section ends*/
/* ------------------------ ----associates page ends--------------------------------------*/
/* ------------------------ ----recognitions page starts--------------------------------------*/
.logo-border{
    div{
        border: 1px solid #E4E4E4;
        padding:10px;
        &:hover{
            border:1px solid #41608D;
        }
    }
}
/* ------------------------ ----recognitions page ends--------------------------------------*/
/* ------------ -----------------services page starts--------------------------------------*/
.side-menu{
    a{
        color:#5D6576;
        text-decoration: none;
       >div,.service-active{
        padding:10px;
        background-color: white;
        font-size: 15px;
        padding:15px;
       }
       &:hover{
        >div{
           color:white;
            background-color: #186159;
            border-left:4px solid red!important;
    
           }

       }
    }
    .service-active{
        background-color: #186159!important;
        border-left:4px solid red!important;
        color:white!important;

    }
}
.services-content{
    p{
       color:#5B5B5B;
       font-size:15px;
       span{
           color:red;
           font-weight:bolder;
       }
    }
}

/* ------------------------ ----services page ends-----------------------------------------*/
/* ------------------------ ----services one-stop page ends-----------------------------------------*/
.service-list {
    list-style: none;
    padding-left: 0;

 li {
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 39px;
    color:#303030;
}
 li:before {
    content: '';
    width: 4px;
    height: 14px;
    position: absolute;
    background-image: url('../img/colon.svg');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
     @media screen and (max-width:768px){
        li {
            
            font-weight: 400;
            line-height: 25px;
        }

}
}       .service-list-content{
         font-size: 16px;
         font-weight: 400;
         color:#303030;
         line-height: 26px;
         text-align: left;
     }

    .service-list-content ul.service-list{
        li{
        line-height: 23px;
        margin-bottom: 15px;
        }
     }
/* ------------------------ ----services one-stop page ends-----------------------------------------*/
/* ------------------------board of directors page starts------------------------------------*/
.directors-board{
    color:#030303;
    .director-bg{
        background-color: #F6F6F6;
    }
    img{
        margin-top: 29px!important;
    }
    p{
        font-size: 14px;
    }
    span{
        font-size: 16px;
        font-weight: 400;
    }
    @media screen and (max-width:768px){
        img{
            margin-top: auto;
        }

    }
}
/* ------------------------board of directors page ends------------------------------------*/

/* ------------------------resources page style starts------------------------------------*/
.resources{
    .card-section{
        padding-right: 50px!important;
        h6{
            color:#000000;
        }
        .card:hover{
            background-color: #2B6663;
            transition-duration:0.8s;
            color:white;
                .resource-icn1,.resource-icn2,.resource-icn3,.resource-icn4{
                fill: #fff !important;
                transition-duration:0.1s;

                        }
                }
    }
    a{
        text-decoration: none;
        color:#5B5B5B;
    }

    @media screen and (max-width:768px){
        .resource-banner{
            img{
            display: none;
        }
    }
        .card-section{
            padding-right: 0px!important;
        }

    }
}

/* ------------------------resources page style ends------------------------------------*/

 /*-----------------------contact us page starts---------------------------------*/
    
 .about-form{
    .form-row{
        line-height: 40px;
    }
    h2{
        font-size: 28px;
        color:#003847;
    }
    li{
        color:#252525;
    }
    label{
        color: #003847;
        font-size:14px;
        font-weight:500;
    }
    input{
        background-color: #F4F4F4;
        height: 45px;
        border-radius: 0px;
    }
    textarea{
        background-color: #F4F4F4;

    }
    .btn-color{
        background-color:#1A7A76;
        border-radius: 0px;
        
    }
    @media screen and (max-width:768px){
        .form-row div{
            padding:2px!important;
            margin:5px;
        }
        h2{
            font-size: 33px;
            text-align:center ;
            padding: 30px 0px;
        }
        label{
            font-size: 16px;
        }

    }

}
.branch-lists{
    .card{
        border-left:none;
        border-right: none;
        .card-header{
            background-color: white;
            border:none;
            &:hover{
                background-color: rgb(235, 231, 231);
            }
        }
        a{
            color:#262626;
            font-weight: 500;
            font-size: 18px;
        }
        .card-body{
            color:#161616;
            font-size:15px;
        }

    }
}




 /*-----------------------contact us page ends---------------------------------*/
  /*-----------------------about us page starts---------------------------------*/

  .about-pattern{
      background-image: url('../img/about_patterns.jpg');
      background-size: cover;
      background-attachment: fixed;
  }
 .about-sec1{
    h2{
        font-size:40px;
        font-weight:700;
        line-height: 40px;
            @media screen and (max-width:768px){
                font-size:25px;
                text-align: center;
                line-height: 20px;
            }

    }
}
 .about-cards{
    .card{
           &:hover{
               background-color: #F04444;
               color:white;
               .about-icn1,.about-icn2,.about-icn3,.about-icn4{
                   fill:#fff;
               }
               
           }
            p{
                font-size: 16.8px;
                font-weight:500;
            }
         }
    }
    .about-sec2{
        .vertical-line{
            border-left: 2px solid#fff;
            margin-top:13px;
            margin-bottom:13px;
        }
        .bg-red{
            background-color: #F04444;
            h2{
                font-size: 50px;
            }
            h5{
                font-size: 20px;
            }
            @media screen and (max-width:768px){
                h2{
                    font-size: 26px;
                } 
                h5{
                    font-size: 12px;
                }


            }

        }
        .about-sec2-contents{
            h2{
                font-size: 30px;
                font-weight: 500;
            }
            p{
                font-size:15px;
                font-weight:400;
    
            }
    
            img{
                box-shadow: -11px 13px 0px 0px#F04444;;
            }
            @media screen and (max-width:768px){
                h2{
                    font-size: 26px;
                }
                p{
                    font-size:14px;
                }
    
            }

        }
        
    }
    .about-sec3{
        h2{
            font-size: 34px;
        }
        p{
            font-size:15px;
            font-weight:400;

        }

        img{
            box-shadow: -11px 13px 0px 0px #F04444;
        }
        @media screen and (max-width:768px){
            h2{
                font-size: 26px;
            }
            p{
                font-size:14px;
            }

        }
    }
 /*-----------------------about us page ends---------------------------------*/
  /*-----------------------gallery page starts---------------------------------*/
.item {
    padding:10px;
    
            img{
                border:5px solid grey;
                cursor: pointer;
                
                }
                .gal-bg{
                    background-color: #F2F2F2;
                    &:hover{
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                    p{
                        margin-bottom: 0px;
                        margin: 2px;
                    }
                 }
                
            }
 

   /*-----------------------gallery page ends---------------------------------*/
 
