* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

/* banner section starts */
/* .banner{
        background-image: url('../img/top.png');
        background-size: cover;
    } */
.gal-banner-left .img-size {
  height: 800px;
  width: 100%;
  margin-left: -15px;
}

@media screen and (max-width: 1024px) {
  .gal-banner-left .img-size {
    height: auto;
  }
}

@media screen and (max-width: 766px) {
  .gal-banner {
    text-align: center;
  }
  .gal-banner-left {
    position: absolute;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .gal-banner-left .img-size {
    height: auto;
    width: 100%;
    margin-left: -15px;
  }
}

.heading-1 {
  font-size: 24px;
  font-weight: 500;
  color: #1A7976;
  margin-bottom: 0px;
}

.heading-2 {
  font-size: 55px;
  font-weight: 700;
  color: #F04444;
  /* @media screen and (max-width:1024px){
            .heading-top{
                margin-top:0px;
                color:black;
                }

         }*/
}

.heading-2 .heading-top {
  margin-top: -20px;
  color: black;
}

@media screen and (max-width: 680px) {
  .heading-2 .heading-top {
    margin-top: -10px;
    color: black;
  }
}

/* banner section ends */
/* welcome section starts */
.welcome-img {
  margin-top: -500px;
  -webkit-clip-path: polygon(0 42%, 100% 22%, 100% 100%, 0% 100%);
          clip-path: polygon(0 42%, 100% 22%, 100% 100%, 0% 100%);
  background-image: url("../img/welcome.jpg");
  background-size: cover;
}

.welcome-img .welcome-img-gradient {
  background-image: linear-gradient(265.85deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.welcome-img .welcome-height {
  padding-top: 400px;
  z-index: -1;
}

.welcome-img .welcome-height a.btn {
  padding: 12px 36px !important;
}

@media screen and (max-width: 1024px) {
  .welcome-img {
    margin-top: -10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    text-align: center;
  }
  .welcome-img .welcome-height {
    padding: 25px 0px;
    z-index: -1;
  }
}

.heading-3 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
}

.heading-4 {
  font-size: 26px;
  line-height: 53px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .heading-3 {
    font-size: 25px;
    font-weight: 500px;
  }
  .heading-3 br {
    display: none;
  }
  .heading-4 {
    font-size: 15.6px;
    line-height: 31.8px;
    font-weight: 500;
  }
}

.text-red {
  color: #F04444;
}

.bg-red {
  background-color: #F04444;
}

.btn-red {
  border: 1px solid #F04444;
  color: #F04444;
}

.btn-red:hover {
  color: #F04444;
  background-color: none !important;
}

/* welcome section ends */
/* vision and mission section starts  */
.flight-img {
  background: url("../img/iocn8.png") no-repeat center center;
  background-size: cover;
  height: 425px;
}

@media screen and (max-width: 680px) {
  .flight-img {
    height: 350px;
  }
}

.centered {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.centered span {
  font-size: 140px;
}

.centered h2 {
  font-size: 30px;
  margin-top: -40px;
  margin-left: -30px;
}

@media screen and (max-width: 830px) {
  .centered span {
    font-size: 100px;
  }
  .centered h2 {
    font-size: 20px;
    margin-top: -10px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 760px) {
  .centered span {
    font-size: 70px;
  }
  .centered h2 {
    font-size: 25px;
    margin-top: -10px;
    margin-left: -10px;
  }
}

.bg-green {
  background-color: #026159;
}

.bg-grey {
  background-repeat: no-repeat;
}

.bg-grey img {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

/*vision and mission section ends*/
/*our promise section starts*/
/*.login-or {
        position: relative;
        font-size: 18px;
        color: #aaa;
        margin-top: 10px;
                margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .span-or {
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color: #fff;
        width: 50px;
        text-align: center;
      }
      .span-or-grey{
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color :#F6F6F6;
        width: 50px;
        text-align: center;

      }
      .hr-or {
        background-color: #cdcdcd;
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }*/
.dotted-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted #303030;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.dotted-line span {
  background-color: white;
  padding: 0 10px;
  position: relative;
  top: 11px;
}

.dashed-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.dashed-line span {
  background-color: #F6F6F6;
  padding: 0 10px;
  position: relative;
  top: 11px;
}

.custom-list {
  list-style: none;
  padding-left: 0;
}

.custom-list li {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 39px;
}

.custom-list li:before {
  content: '';
  width: 4px;
  height: 14px;
  position: absolute;
  background-image: url("../img/colon.svg");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .custom-list li {
    font-weight: 400;
    line-height: 25px;
  }
}

.custom-list-content {
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  line-height: 26px;
  text-align: left;
}

.custom-list-content ul.custom-list li {
  line-height: 18px;
  margin-bottom: 15px;
}

/*our promise section ends*/
/* freight and logistics section starts */
.freight-logistics {
  background: url(../img/top-left.svg) no-repeat top left #F6F6F6;
  margin-top: -10px;
}

@media (max-width: 768px) {
  .freight-logistics {
    background: #F6F6F6;
  }
}

.card-top {
  margin-top: -80px;
  overflow-x: hidden;
}

.card-top .card {
  margin: 0px 15px;
}

.card-top .card:hover {
  border-bottom: 3px solid #717171;
}

.card-top .card:hover a {
  color: #F04444;
}

.card-top .card a {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

.card-top .card .card-text {
  font-size: 14px;
  font-weight: 400;
}

.card-top .card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-left: -15px;
}

.card-top .card-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 860px;
}

@media screen and (max-width: 768px) {
  .card-top {
    margin-top: 0px;
  }
  .card-top .card-wrapper {
    margin: 0 auto;
    display: block;
    max-width: 860px;
  }
}

/* freight and logistics section ends*/
/* ready to get started section starts*/
.gal-start {
  background-color: #E3E3E3;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.gal-start .btn-green {
  background-color: #00B2A3;
}

@media screen and (max-width: 768px) {
  .gal-start .btn-green {
    border-radius: 6px;
    width: 123px;
    font-size: 18px;
    font-weight: 700;
  }
}

/* ready to get started section ends*/
/* footer section starts */
.footer-image {
  background-image: url("../img/footer.png");
  background-size: cover;
}

.bg-gradient {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-font {
  font-size: 24px;
  font-weight: 400;
}

.footer-button button {
  background-color: #DE1B25;
}

@media screen and (max-width: 576px) {
  .footer-font {
    font-size: 10px;
    font-weight: 400;
  }
  .footer-button button {
    border-radius: 1.54px;
    width: 123px;
    height: 32px;
    font-size: 10.8px;
    font-weight: 700;
  }
}

.gal-country div {
  border: 1px solid #808080;
  border-radius: 28px;
  font-size: 12.8px;
}

.gal-country a {
  color: white;
  text-decoration: none;
}

.gal-country .gal-country-list {
  padding: 10px 50px;
  text-align: center;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gal-country .gal-country-list p {
  margin-bottom: 0px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .gal-country div {
    font-size: 13px;
  }
  .gal-country .gal-country-list {
    padding: 10px 20px !important;
    margin: 10px;
  }
}

@media screen and (max-width: 680px) {
  .gal-country div {
    border-radius: 17.92px;
    font-size: 7px;
  }
  .gal-country .gal-country-list {
    padding: 5px 10px !important;
    margin: 6px;
  }
}

@media screen and (max-width: 576px) {
  .gal-country .gal-country-list {
    padding: 5px 10px !important;
    margin: 4px;
  }
}

@media screen and (max-width: 1024px) {
  .gal-country-list {
    padding: 10px 20px !important;
    text-align: center;
    margin: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bg-footer {
  background-color: #1C1C1C;
}

.bg-footer span {
  font-size: 24px;
  color: #8A8A8A;
  padding: 0px 15px !important;
}

@media screen and (max-width: 460px) {
  .bg-footer span {
    padding: 0px 4px !important;
  }
}

.bg-footer .gal-services {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.bg-footer .gal-services div {
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 1px #225563;
          box-shadow: 0px 3px 1px #225563;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.bg-footer .gal-services div a {
  font-size: 15px;
  text-decoration: none;
  color: #8A8A8A;
}

@media screen and (max-width: 768px) {
  .bg-footer {
    /*.gal-services{
                    div{margin-bottom: 15px;}
                }*/
  }
  .bg-footer span {
    font-size: 12px;
  }
}

.bg-footer .gradient-line {
  background-image: -webkit-gradient(linear, left top, right top, from(#1C1C1C), color-stop(52.42%, #A1A1A1), to(#1C1C1C));
  background-image: linear-gradient(90deg, #1C1C1C 0%, #A1A1A1 52.42%, #1C1C1C 100%);
  opacity: 0.5280691964285714;
}

.bg-footer p {
  color: #8C8C8C;
  font-size: 14px;
  font-weight: 700;
}

/*  footer section ends */
/* vision and mission section ends */
/*--------- Media query starts ---------*/
@media (max-width: 680px) {
  /* banner media query starts */
  .active a:hover {
    color: red !important;
  }
  .heading-1 {
    font-size: 13.27px;
    font-weight: 700;
  }
  .heading-2 {
    font-size: 30.97px;
  }
  /* banner media query ends */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* banner media query starts */
  .img-size {
    height: 500px;
  }
  .heading-1 {
    font-size: 20px;
  }
  .heading-2 {
    font-size: 40px;
  }
  /* banner media query ends */
  /* vision and mission starts */
  /*   .title-custom{
        position: relative;
        top:-200px;
    }
    .title-custom span{
        font-size:60px;
    }*/
  /* vision and mission ends */
}

/*--------- Media query ends ---------*/
.gal-branch div:not(:last-of-type) span {
  border-right: 1px solid #8A8A8A;
}

@media (min-width: 991px) {
  .gal-start .btn-green {
    width: 90%;
  }
}

.bg-shade-br {
  background: url(../img/bottom-right.svg) no-repeat right bottom #F6F6F6;
}

.bg-shadow-trb {
  background: url(../img/bottom-left.svg) no-repeat bottom left, url(../img/top-right.svg) no-repeat top right, url(../img/top-left.svg) no-repeat top left;
  margin-top: -10px;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .bg-shade-br {
    background: #F6F6F6;
  }
  .bg-shadow-trb {
    background: none;
  }
}

.client-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.client-list img {
  max-width: 90%;
}

.top-btn {
  width: 50px;
  height: 58px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  background: url(../img/top.svg) no-repeat center center;
  display: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.top-btn:hover {
  bottom: 36px;
}

@media screen and (max-width: 768px) {
  .top-btn {
    display: none !important;
  }
}

/*common style for buttons starts*/
.btn-outline-red:hover {
  background-color: #F04444 !important;
  color: white !important;
  border: 1px solid grey !important;
}

.btn-outline-white:hover {
  background-color: #fff !important;
  color: #F04444 !important;
  border: 1px solid grey !important;
}

/*common style for buttons ends*/
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.navbar {
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  background-color: white;
}

.navbar .logo {
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.navbar.fixed-top .logo {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar.fixed-top .logo img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  padding-top: 0px;
  padding-bottom: 0px;
}

/*-----------index style ends-----------------*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

/*button hover style   */
/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*.navbar{
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    .logo{
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
  }*/
/* button hover style ends */
/*---------------image hover style -------------*/
.hover14 {
  position: relative;
}

.hover14::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.hover14:hover::before {
  -webkit-animation: shine 1.75s;
  animation: shine 1.75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

/*---------------image hover style  ends-------------*/
/*.navbar.fixed-top{
    .logo{padding-top: 0px; padding-bottom: 0px;}
    .logo img{
        transform: scale(0.7);
        padding-top: 0px;
        padding-bottom: 0px;
    }
}*/
/*  new nav section starts  */
.menu-section .sub-menu {
  display: none;
}

.menu-section .main-menu:hover .sub-menu {
  display: block;
  position: absolute;
  margin-left: -30px;
  background-color: white;
}

.menu-section .main-menu:hover .sub-menu li a {
  color: black;
  font-weight: 500;
  border: none;
}

.menu-section .main-menu:hover .sub-menu li a:hover {
  border-bottom: 2px solid #F04444;
}

.menu-section .active a {
  color: #F04444 !important;
  border-bottom: 2px solid #F04444;
}

.menu-section li {
  font-size: 16px;
  font-weight: 500;
}

.menu-section li a {
  color: black !important;
}

.menu-section li:hover > a {
  color: #F04444 !important;
  border-bottom: 2px solid #F04444;
}

.menu-section .logo {
  max-width: 70%;
}

@media screen and (max-width: 768px) {
  .main-menu:hover .sub-menu {
    position: relative;
    left: 35px;
  }
  .active a {
    color: #F04444;
    border-bottom: none;
  }
  li:hover > a {
    color: #F04444 !important;
    border-bottom: none;
  }
}

@media screen and (max-width: 1324px) {
  .nav-item {
    margin: 35px !important;
  }
}

@media screen and (max-width: 1242px) {
  .nav-item {
    margin: 30px !important;
  }
}

@media screen and (max-width: 1192px) {
  .nav-item {
    margin: 25px !important;
  }
}

@media screen and (max-width: 1142px) {
  .nav-item {
    margin: 20px !important;
  }
}

@media screen and (max-width: 1093px) {
  .nav-item {
    margin: 15px !important;
  }
}

.navbar.fixed-top .logo {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar.fixed-top .logo img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  padding-top: 0px;
  padding-bottom: 0px;
}

/* new nev section ends    */
/*     galaxy footer starts  */
.client-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.client-list img {
  max-width: 90%;
}

.footer-image {
  background-image: url("../img/footer.png");
  background-size: cover;
}

.bg-gradient {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-font {
  font-size: 24px;
  font-weight: 400;
}

.footer-button button {
  background-color: #DE1B25;
}

@media screen and (max-width: 576px) {
  .footer-font {
    font-size: 10px;
    font-weight: 400;
  }
  .footer-button button {
    border-radius: 1.54px;
    width: 123px;
    height: 32px;
    font-size: 10.8px;
    font-weight: 700;
  }
}

.gal-country div {
  border: 1px solid #808080;
  border-radius: 28px;
  font-size: 12.8px;
}

.gal-country a {
  color: white;
  text-decoration: none;
}

.gal-country .gal-country-list {
  padding: 10px 50px;
  text-align: center;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gal-country .gal-country-list p {
  margin-bottom: 0px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .gal-country div {
    font-size: 13px;
  }
  .gal-country .gal-country-list {
    padding: 10px 20px !important;
    margin: 10px;
  }
}

@media screen and (max-width: 680px) {
  .gal-country div {
    border-radius: 17.92px;
    font-size: 7px;
  }
  .gal-country .gal-country-list {
    padding: 5px 10px !important;
    margin: 6px;
  }
}

@media screen and (max-width: 576px) {
  .gal-country .gal-country-list {
    padding: 5px 10px !important;
    margin: 4px;
  }
}

@media screen and (max-width: 350px) {
  .gal-country {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gal-country .gal-country-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {
  .gal-country-list {
    padding: 10px 20px !important;
    text-align: center;
    margin: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bg-footer {
  background-color: #1C1C1C;
}

.bg-footer span {
  font-size: 24px;
  color: #8A8A8A;
  padding: 0px 15px !important;
}

@media screen and (max-width: 460px) {
  .bg-footer span {
    padding: 0px 4px !important;
  }
}

.bg-footer .gal-branch div:not(:last-of-type) span {
  border-right: 1px solid #8A8A8A;
}

@media (min-width: 991px) {
  .bg-footer .gal-start .btn-green {
    width: 90%;
  }
}

.bg-footer .gal-services {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.bg-footer .gal-services div {
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 1px #225563;
          box-shadow: 0px 3px 1px #225563;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.bg-footer .gal-services div a {
  font-size: 15px;
  text-decoration: none;
  color: #8A8A8A;
}

@media screen and (max-width: 768px) {
  .bg-footer {
    /*.gal-services{
                   div{margin-bottom: 15px;}
               }*/
  }
  .bg-footer span {
    font-size: 12px;
  }
}

.bg-footer .gradient-line {
  background-image: -webkit-gradient(linear, left top, right top, from(#1C1C1C), color-stop(52.42%, #A1A1A1), to(#1C1C1C));
  background-image: linear-gradient(90deg, #1C1C1C 0%, #A1A1A1 52.42%, #1C1C1C 100%);
  opacity: 0.5280691964285714;
}

.bg-footer p {
  color: #8C8C8C;
  font-size: 14px;
  font-weight: 700;
}

.top-btn {
  width: 50px;
  height: 58px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  background: url(../img/top.svg) no-repeat center center;
  display: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.top-btn:hover {
  bottom: 36px;
}

@media screen and (max-width: 768px) {
  .top-btn {
    display: none !important;
  }
}

/*        galaxy footer ends        */
/* ------------------------ ----associates page starts--------------------------------------*/
/*  associates banner section starts */
.as-banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
}

.as-banner .as-gradient {
  height: 281px;
  background-color: rgba(0, 0, 0, 0.6);
}

.as-banner .as-banner-heading {
  position: relative;
  top: 100px;
}

.as-banner a {
  text-decoration: none;
}

.as-banner h1 {
  font-size: 50px;
  font-weight: 500;
}

.as-banner h5 {
  font-size: 20px;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .as-banner .as-gradient {
    height: 112px;
  }
  .as-banner .as-banner-heading {
    position: relative;
    top: 45px;
  }
  .as-banner h1 {
    font-size: 22px;
    font-weight: 700;
  }
  .as-banner h5 {
    font-size: 14px;
    font-weight: lighter;
  }
}

/*  associates banner section ends */
/*  associates content section starts */
.as-content-bg {
  background-image: url("../img/associates-bg.png");
  background-repeat: no-repeat;
  background-position: -30px top;
  background-size: 445px auto;
}

@media screen and (max-width: 768px) {
  .as-content-bg {
    background-image: none;
  }
}

.as-associates h2 {
  font-size: 30px;
  font-weight: 700px;
  color: #5B5B5B;
}

.as-associates p {
  font-size: 18px;
  font-weight: 400px;
  color: #5B5B5B;
}

.as-img-border div {
  border: 1px solid #E4E4E4;
  padding: 20px;
}

.as-img-border div:hover {
  border: 1px solid #41608D;
}

/*  associates content section ends */
/*  courier partner section starts*/
.as-courier-partners .as-img-border {
  border: 1px solid #E4E4E4;
  padding: 20px;
}

.as-courier-partners .as-img-border:hover {
  border: 1px solid #41608D;
}

.as-courier-partners h2 {
  color: #37354C;
  font-size: 30px;
  font-weight: 700px;
}

@media screen and (max-width: 768px) {
  .as-courier-partners h2 {
    font-size: 28px;
  }
}

/*  courier partner section ends*/
/* ------------------------ ----associates page ends--------------------------------------*/
/* ------------------------ ----recognitions page starts--------------------------------------*/
.logo-border div {
  border: 1px solid #E4E4E4;
  padding: 10px;
}

.logo-border div:hover {
  border: 1px solid #41608D;
}

/* ------------------------ ----recognitions page ends--------------------------------------*/
/* ------------ -----------------services page starts--------------------------------------*/
.side-menu a {
  color: #5D6576;
  text-decoration: none;
}

.side-menu a > div, .side-menu a .service-active {
  padding: 10px;
  background-color: white;
  font-size: 15px;
  padding: 15px;
}

.side-menu a:hover > div {
  color: white;
  background-color: #186159;
  border-left: 4px solid red !important;
}

.side-menu .service-active {
  background-color: #186159 !important;
  border-left: 4px solid red !important;
  color: white !important;
}

.services-content p {
  color: #5B5B5B;
  font-size: 15px;
}

.services-content p span {
  color: red;
  font-weight: bolder;
}

/* ------------------------ ----services page ends-----------------------------------------*/
/* ------------------------ ----services one-stop page ends-----------------------------------------*/
.service-list {
  list-style: none;
  padding-left: 0;
}

.service-list li {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 39px;
  color: #303030;
}

.service-list li:before {
  content: '';
  width: 4px;
  height: 14px;
  position: absolute;
  background-image: url("../img/colon.svg");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .service-list li {
    font-weight: 400;
    line-height: 25px;
  }
}

.service-list-content {
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  line-height: 26px;
  text-align: left;
}

.service-list-content ul.service-list li {
  line-height: 23px;
  margin-bottom: 15px;
}

/* ------------------------ ----services one-stop page ends-----------------------------------------*/
/* ------------------------board of directors page starts------------------------------------*/
.directors-board {
  color: #030303;
}

.directors-board .director-bg {
  background-color: #F6F6F6;
}

.directors-board img {
  margin-top: 29px !important;
}

.directors-board p {
  font-size: 14px;
}

.directors-board span {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .directors-board img {
    margin-top: auto;
  }
}

/* ------------------------board of directors page ends------------------------------------*/
/* ------------------------resources page style starts------------------------------------*/
.resources .card-section {
  padding-right: 50px !important;
}

.resources .card-section h6 {
  color: #000000;
}

.resources .card-section .card:hover {
  background-color: #2B6663;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  color: white;
}

.resources .card-section .card:hover .resource-icn1, .resources .card-section .card:hover .resource-icn2, .resources .card-section .card:hover .resource-icn3, .resources .card-section .card:hover .resource-icn4 {
  fill: #fff !important;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.resources a {
  text-decoration: none;
  color: #5B5B5B;
}

@media screen and (max-width: 768px) {
  .resources .resource-banner img {
    display: none;
  }
  .resources .card-section {
    padding-right: 0px !important;
  }
}

/* ------------------------resources page style ends------------------------------------*/
/*-----------------------contact us page starts---------------------------------*/
.about-form .form-row {
  line-height: 40px;
}

.about-form h2 {
  font-size: 28px;
  color: #003847;
}

.about-form li {
  color: #252525;
}

.about-form label {
  color: #003847;
  font-size: 14px;
  font-weight: 500;
}

.about-form input {
  background-color: #F4F4F4;
  height: 45px;
  border-radius: 0px;
}

.about-form textarea {
  background-color: #F4F4F4;
}

.about-form .btn-color {
  background-color: #1A7A76;
  border-radius: 0px;
}

@media screen and (max-width: 768px) {
  .about-form .form-row div {
    padding: 2px !important;
    margin: 5px;
  }
  .about-form h2 {
    font-size: 33px;
    text-align: center;
    padding: 30px 0px;
  }
  .about-form label {
    font-size: 16px;
  }
}

.branch-lists .card {
  border-left: none;
  border-right: none;
}

.branch-lists .card .card-header {
  background-color: white;
  border: none;
}

.branch-lists .card .card-header:hover {
  background-color: #ebe7e7;
}

.branch-lists .card a {
  color: #262626;
  font-weight: 500;
  font-size: 18px;
}

.branch-lists .card .card-body {
  color: #161616;
  font-size: 15px;
}

/*-----------------------contact us page ends---------------------------------*/
/*-----------------------about us page starts---------------------------------*/
.about-pattern {
  background-image: url("../img/about_patterns.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.about-sec1 h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  .about-sec1 h2 {
    font-size: 25px;
    text-align: center;
    line-height: 20px;
  }
}

.about-cards .card:hover {
  background-color: #F04444;
  color: white;
}

.about-cards .card:hover .about-icn1, .about-cards .card:hover .about-icn2, .about-cards .card:hover .about-icn3, .about-cards .card:hover .about-icn4 {
  fill: #fff;
}

.about-cards .card p {
  font-size: 16.8px;
  font-weight: 500;
}

.about-sec2 .vertical-line {
  border-left: 2px solid #fff;
  margin-top: 13px;
  margin-bottom: 13px;
}

.about-sec2 .bg-red {
  background-color: #F04444;
}

.about-sec2 .bg-red h2 {
  font-size: 50px;
}

.about-sec2 .bg-red h5 {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .about-sec2 .bg-red h2 {
    font-size: 26px;
  }
  .about-sec2 .bg-red h5 {
    font-size: 12px;
  }
}

.about-sec2 .about-sec2-contents h2 {
  font-size: 30px;
  font-weight: 500;
}

.about-sec2 .about-sec2-contents p {
  font-size: 15px;
  font-weight: 400;
}

.about-sec2 .about-sec2-contents img {
  -webkit-box-shadow: -11px 13px 0px 0px #F04444;
          box-shadow: -11px 13px 0px 0px #F04444;
}

@media screen and (max-width: 768px) {
  .about-sec2 .about-sec2-contents h2 {
    font-size: 26px;
  }
  .about-sec2 .about-sec2-contents p {
    font-size: 14px;
  }
}

.about-sec3 h2 {
  font-size: 34px;
}

.about-sec3 p {
  font-size: 15px;
  font-weight: 400;
}

.about-sec3 img {
  -webkit-box-shadow: -11px 13px 0px 0px #F04444;
          box-shadow: -11px 13px 0px 0px #F04444;
}

@media screen and (max-width: 768px) {
  .about-sec3 h2 {
    font-size: 26px;
  }
  .about-sec3 p {
    font-size: 14px;
  }
}

/*-----------------------about us page ends---------------------------------*/
/*-----------------------gallery page starts---------------------------------*/
.item {
  padding: 10px;
}

.item img {
  border: 5px solid grey;
  cursor: pointer;
}

.item .gal-bg {
  background-color: #F2F2F2;
}

.item .gal-bg:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item .gal-bg p {
  margin-bottom: 0px;
  margin: 2px;
}

/*-----------------------gallery page ends---------------------------------*/
/*# sourceMappingURL=style.css.map */